/* You can add global styles to this file, and also import other style files */

@import './theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --sp-margin-size: 16px;
}

.toast-success {
  background-color: green;
}
.toast-error {
  background-color: red;
}
.full-width {
  width: 100%;
}
mat-form-field {
  @extend .full-width;
}
